body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.header-gradient-232E5A {
  background-image: linear-gradient(to right, #3D52A0, #3868E4, #5875c5, #8199ce, #7883e6);
}

.header-gradient-FF0800 {
  background-image: linear-gradient(to right, #990400, #CC0600, #FF0800, #FF4D3D, #FF7A6A);
}

.header-gradient-03C03C {
  background-image: linear-gradient(to right, #027227, #029A32, #03C03C, #40D061, #70E08E);
}

.header-gradient-BF00FF {
  background-image: linear-gradient(to right, #720099, #9900CC, #BF00FF, #D440FF, #E070FF);
}

.header-gradient-0070FF {
  background-image: linear-gradient(to right, #004499, #005ACC, #0070FF, #3390FF, #66B0FF);
}

@font-face {
  font-family: myfont1;
  src: url("assets/fonts/Now-Bold.otf");
}

@font-face {
  font-family: myfont2;
  src: url("assets/fonts/Now-Regular.otf");
}

.myfont3 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

button {
  background-color: transparent;
  border: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: #ffffff;
}

#proj {
  display: flex;
}

#clip {
  height: 20px;
  width: 20px;
  background-image: url("../assets/images/pin.png");
  background-size: cover;
  filter: invert(0);
  transition: transform 0.3s ease; 
}

#pp {
  height: 150px;
  width: 150px;
  background-image: url("../assets/images/pp.jpg");
  background-size: cover;
  border: 4px solid #252827;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

#hc {
  margin-left: 20px;
}

#name {
  font-family: myfont1;
  font-size: 36px;
  margin: 5px 0;
}

#subtitle {
  font-family: myfont2;
  font-size: 18px;
  margin: 5px 0;
}

.container {
  width: 75vw;
  padding: 30px 20px;
  margin: 20px;
  border-radius: 8px;
}

#about,
#skills,
#pros,
#exp {
    width: calc(100% - 40px);
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    padding: 10px 0;
    margin: 0 auto;
}


#contact {
  text-align: center;
  padding: 50px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

#mode {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 50px;
  width: 50px;
  background-image: url("../assets/images/circle.svg");
  background-size: cover;
  cursor: pointer;
  filter: invert(0);
  transition: transform 2s ease 0.2s;
}

#mode.clicked {
  transform: rotate(900deg);
}

h2 {
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
}

a {
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
}

.icon-large {
  transition: transform 0.3s ease;
  font-size: 48px;
}

.icon-large:hover {
  transform: scale(1.5);
}

.social-icons a {
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.social-icons a[href^="https://github.com"]:hover
{
  color: #656769;
}

.social-icons a[href^="https://www.facebook.com"]:hover
{
  color: #3b5998;
}

.social-icons a[href^="https://www.linkedin.com"]:hover
{
  color: #0077b5;
}

.social-icons a[href^="https://www.instagram.com"]:hover
{
  color: #e4405f;
}
